<body>
  <main class="d-flex">

    <!--NAVBAR -->
    <nav class="fixed-left rounded-end" id="home_navbar">


      <!-- Flèche nav pour mobile -->
      <p id="test" >test</p>
      
      <img class="nav-link active" src="assets/img/LOGO_sans_hallo.png" alt="logo">
      <img class="nav-link" src="assets/img/3.png" alt="tuto app1">
      <img class="nav-link" src="assets/img/photo.png" alt="tuto app2">
      <img class="nav-link" src="assets/img/maplogo.png" alt="tuto app3">
    </nav>

    <section id="home_brand_info " class="text-center ms-5 container-fluid overflow-auto">
      <!--BRAND INFO -->

      <ng-container>

        <div *ngIf="data != undefined" class="d-flex justify-content-center">
          <div>
            <img src="{{data.partner.logo}}" alt="brand_logo" id="home_brand_logo" class="mt-4">

            <h1 class="d-flex flex-column  justify-content-center" id="home_title"> <span class="Caveat">THEY
                ARE</span><span class="fw-bold ">{{data.shops[0].title}}</span></h1>
          </div>
          <div class="d-flex flex-column-reverse">
            <p class=" orange fw-bold" id="brand_location"><img id="pointeur" src="assets/img/pointeur(1).png"
                alt="pointeur">{{data.partner.city}}</p>
          </div>

        </div>
        <div *ngIf="data != undefined">

        
           
          <!-- <button (click)="checkDataLength(bio)">bio</button> -->
            <div>
              <app-readmore [isReadMore]="isReadMore">
                <h2 id="bio" class="gris Caveat fs-4 mb-0 mx-5 text-uppercase fw-bold">{{bio}}</h2>
              </app-readmore>
          </div>
    
        </div>
      
        
      </ng-container>

      
      <!-- POPUP A STYLISER -->
    <div id="overlay" class="overlay ">
      
      <div id="popup" class="popup rounded-3 position-relative overflow-auto" >

        <span id="btnClose" (click)="closePopup()" class="btnClose position-absolute top-0 end-0 "><i
          class="las la-times-circle gris display-1"></i></span>
          <!-- <app-carousel>
            <h2>{{bio}}</h2>
          </app-carousel> -->  
          <div class="d-flex flex-column flex-md-row " >
            <div class="d-flex">
              <img src="{{data.partner.logo}}" alt="brand_logo" id="home_brand_logo" class=" position-absolute top-0 start-0 m-3">
             
            </div>
            <!---->
            
            <!-- <div class="carousel-inner">
              <div *ngFor="let board of data.boards; let i=index" [ngClass]="(i === 0) ? 'active' : ''">
                  <img src="{{board.images[0]}}" alt="img">
                  <div class="container">
                      <div class="carousel-caption">
          
                      </div>
                  </div>
              </div>
          </div> -->


          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div id="popup_image1" class="carousel-item active">
        
      </div>
      <div  id="popup_image2" class="carousel-item">
        <img src="../assets/img/images.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


            <!---->
            <div id="popup_image"class="d-flex align-items-center container-fluid justify-content-center"  style="height:70vh;"></div>              
              <article class="container-fluid d-flex justify-content-center flex-column">
                
              <h1 id="popup_brand_model"></h1>
              <h2 id="popup_board_info"></h2>
              <h2 class="gris fs-2 mb-0 Caveat">je la teste !</h2><p  id="popup_board_price"></p>
              <p class="text-uppercase d-flex justify-content-center flex-column fs-3  rouge">Disponible a l'essaie à <span class="fw-bold">{{data.partner.city}}</span></p>
              <div class="d-flex justify-content-center">
                <button href="#" id="popup_h1" class="mx-5 mb-3 text-center rounded-3 btn Caveat text-uppercase fst-italic text-white fs-3 mt-3 mb-3">Téléchargez l'app pour tester</button>

              </div>
              </article>
              
          </div>
         

         
          
      </div>
  </div>
  <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/img/3.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/img/images.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

      <!--BOARD SECTION-->
      <div  *ngIf="data != undefined" class="container-fluid   d-flex flex-row justify-content-around mt-5" id="home_board_section">
        <div class="row justify-content-center" id="home_display_boards">

          

          
          <!--Board dynamique-->
          <ng-container *ngFor="let board of data.boards;let i = index" >
           
            <div id="article-{{i}}" (click)="clickBoards(i)" class="home_card col-4 art_board d-flex flex-column  p-1 mb-3" style="width: 25rem;">
              <div class="position-relative rounded-3" style="background-color: #f6f6f6;">


                
                
                <img src="{{board.images[0]}}" alt="planche" style="height: 35vh; " class="data_image rounded mt-1">
                <img src="{{board.images[1]}}" alt="planche" style="height: 35vh; " class="data_image2 rounded mt-1 text_hide">

                <div class="voir_div  position-absolute top-100 start-50 translate-middle">
                  <p class="voir_p fw-bold px-1 fs-5 text-center fst-italic"> Réserver</p>
                </div>
              </div>
              <div class="border-bottom">
                <p class="text_hide board_info Caveat orange">{{board.size_ft}}'{{board.size_inch}} X {{board.width_decimal}} ' {{board.width_inch}} X {{board.thickness_decimal}} ' {{board.thickness_inch}}
                 -{{board.volume}} L</p>
                <h5 class="board_details_h2 data_brand_model fs-4 fw-bold mt-3 text-uppercase fst-italic">{{board.brand_model}} - {{board.size_ft}}'{{board.size_inch}}</h5>

                <p class="orange Caveat fs-3 fw-bold "><span class="price">{{board.rental_price}}€</span>/H</p>

              </div>
            </div>


            <!-- <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{board.images[0]}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{board.images[1]}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{board.images[2]}}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div> -->

            <div  *ngFor="let board of data.boards.images">
              <div>
                <img src="{{board.images}}" alt="planche" style="height: 35vh; " class="data_image rounded mt-1">
              </div>
              
          
            </div>
          </ng-container>

          
          <input type="text" [(ngModel)]="currentMsgToChild1">

        </div>
        <div  id="spinner" class="d-flex d-none justify-content-center">
          <div class="spinner-border " role="status">
            <span  class="visually-hidden ">Loading...</span>
          </div>
        </div>
      </div>
    </section>

  </main>



  <!--Footer-->
  <footer class="fixed-bottom rounded-top" id="home_footer">
    <section id="footerSection3" class="rounded-top text-center ">

      <div id="footer_block" class="justify-content-between">

        <div class="d-flex flex-column">
          <p class="fst-italic fs-1 text-start mb-0 text-uppercase Caveat board_details_h2">Telecharge l'app</p>
          <p class="text-nowrap text-start"> <span
              class="fs-1 ms-2  fw-bold me-3 text-nowrap text-white">SEALOCKER</span><span id="SEALOCKER"
              class=" fs-2 text-uppercase orange">pour tester une planche</span></p>
        </div>

        <div id="app3" class="d-flex me-5 mt-3 justify-content-around flex-lg-column">

          <a href="https://apps.apple.com/fr/app/sea-locker/id1550954820"><img src="https://popup-sealocker.herokuapp.com/assets/imgs/app-store-apple.png"
            class="img-fluid p-2 border mb-3 border-3 rounded-3 bg-dark" alt="apple-logo"></a>
          <a href="https://play.google.com/store/apps/details?id=com.sealocker&gl=FR"><img src="https://popup-sealocker.herokuapp.com/assets/imgs/app-store-google.png"
            class="img-fluid  p-2 border mb-3 border-3 rounded-3 bg-dark" alt="google-logo"></a>
        </div>
      </div>
    </section>
  </footer>
</body>

