 @font-face {
    font-family: Spartan;
    src: url("../assets/fonts/Spartan-VariableFont_wght.ttf");  
    
}
  @font-face {
    font-family: Now;
    src: url("../assets/fonts/NowAlt-Regular.otf");
}
  @font-face {
    font-family: Caveat;
    src: url("../assets/fonts/static/Caveat-Regular.ttf");
}
  @font-face {
    font-family: Adigana;
    src: url("../assets/fonts/AdigianaUI.ttf");
}
  @font-face {   
    font-family: Poppins;
    src: url("../assets/fonts/static/Poppins-Regular.ttf");
}
    @font-face { 
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-Regular.ttf") format('ttf');
} 
 /*SET BASE*/
h1{
    font-family: 'Spartan', sans-serif ;
    color: #02345b
}
h2{
    font-family: 'Now', sans-serif;
}
h3{
    font-family: 'Inter', sans-serif;
    color: #03335b;
}
.Caveat{
    font-family: 'Caveat', sans-serif ;
}
.Spartan{
    font-family: 'Spantan', sans-serif ;
}
.orange{
    color: #f18f3a;
}
.vert{
    color:#13616d;
}
.rouge{
    color:#712e1b;
}
.bleu{
    color: #02345b;
} 

.gris{
    color: #c7d5d6;
}
main{
    height: 80vh !important;
    margin-left: 15vw;
}
.text_hide{
    display: none;
}


/*Set principal container*/

#home_brand-info{
    height: 90vh;
}

#brand_logo{
    height: 10vh;
    object-fit: contain;
    
}

  


/*Div Réserver article*/
  .voir_p{
    background-color: #13616d;
    margin-bottom: 0px;
   border:  solid 20px #13616d;
   border-bottom: solid 5px #13616d;
   border-top: solid 5px #13616d ;
  border-radius: 3px;
  background-clip: border-box;
   font-family: Poppins,sans-serif;
   padding-top: 1px;
   padding-bottom: 1px; 
   margin-bottom: 0px;

font-size: 12px;
text-transform: lowercase;

position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;

background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
line-height: 1.3;
font-weight: 400;
  }
  
  .voir_div{
    display: flex;
    padding: 2px 15px;
    border-radius: 3px;
    background-color: #13616d;
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
transform-style: preserve-3d;
box-sizing: border-box;
  justify-content: center;
  display: none;
}

/*Footer*/

  #SEALOCKER {
    font-size: 25px;
    flex-basis: 100%;
  }

 


/*READ MORE*/
div.collapsed {
    display: -webkit-inline-box;
    display: inline-block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  
  .readMore {
      margin-top: -3px !important;
      line-height: 1.4 !important;
  }
  
  .isCollapsed {
      width: 85%;
  }
  
  .cb {
      clear: both;
      height: 0;
  }
  
  .pull-right {
    float: right;
  }
  
  .pull-left {
    float: left;
  }



/*NavBar*/
#home_navbar{
    height: 80vh;
    background-color: #13616d;
    position: fixed;
   
    
    bottom: 0;
    left: 0;
    z-index: 100;
    top: 0;
  
}

nav{
    height: 20vh;
    width: 15vw;
}
#home_navbar img {
    margin: 0px;
    height: 20vh;
    width: 15vw;
     max-height: 250px;
    max-width: 250px; 
}
.nav-link{
    padding: 0px !important;
    background-color: #13616d;
}

/*Footer*/
#home_footer{
    height: 20vh;
    margin-bottom: 0px;
}
#footerSection3{
    border-top-right-radius: 20px !important;
    background-color: #c7d5d6;
    height: 20vh;
}
#app3{
    flex-direction: column;
}
#app3 img{
    height: 7vh;
    border-radius: 50px;
}

#footer_block{
    display: flex;   
    padding: 20px;    
   }


/*Header*/
#pointeur{
    height: 50px;
}

#home_brand_logo{
    height: 10vh;
}
#home_title{
    font-size: 65px;
}

/*Board Article*/
.home_card{
    cursor: pointer;
    margin-bottom: 0px;
}
.home_card img{
    height: 20vh;
    
    
}

/*POPUP*/
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    overflow: auto;
  
  }
  
  .popup {
      
    margin-left: 15% ;
    width: 85vw;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto;
    padding-bottom: 0;
    height: 80vh;
  
  }

  #popup_first_section{
      height: 20vh;
  }
    #carouselExampleControls ,.popup_img{
      height: 50vh;
      width: 40vw;
     border-radius: 3%;
     object-fit: contain;
      
  }
  #carouselExampleControls ,.popup_img{
    max-width: 400px;
  }
  
  #popup_more_info{
      height: 20vh;
  }
/* 
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    
    
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 70px;
    color: #f18f3a;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 70px;
    color: #f18f3a;
  }
 */

  /* .popup_img , .popup_img2   {
    border-radius: 3%;
  } */

  .popup_laptop_font  {
      font-size: 2rem !important;
  }
  .carousel-inner{
      border-radius: 5%;
  }
  
  /* .carousel-inner > .item > img {
    width:100%;
    height:360px;
  }.carousel {
    object-fit: contain;
    width:100%;
    height: 100%;
    background-size: cover;
    
  } */
  
.btnClose {

    font-size: 16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
  }
  #popup_h1{
      background-color: #13616d;
     width: 40vh;
     margin: auto;
  }

  #popup_more_info{
      display: none;
  }

  #article_popup{
      text-align: center !important;
      width: 40vw;
  }

  



  /*POPUP SPINNER*/
  #overlaySpinner{
      height: 100vh;
      width: 100%;
      background: linear-gradient(70deg, #f18f3a, #13616d);
      animation: gradient 5s ease infinite;
      z-index: 5000;
  }

  .spinner-border{
      height: 5rem;
      width: 5rem;
      color: #EFEFEF;
  }


  /**/
 
 /*  .popup_img{
      height: 60vh;
      width: 20vw;
      background-size: cover;
  } */
  /* .fs-1{
      font-size: 4rem !important;
  }
  .fs-2{
    font-size: 3rem !important;
} */
 #home_brand_info{
     margin-top: 10vh;
    height: 100%;
    width: 100%;
} 
.display_none_pc{
    display: none;
}






/* MEDIA QUERRY */



/* Tablette*/
@media screen and (max-width: 1100px) {

    .display_none_pc{
        display: block;
    }

    /*Footer*/
    #app3{
        flex-direction: row;
        margin-right: 0px !important;
    }
    #telecharge_app_footer{
        font-size: 2rem !important;
    }
    #SEALOCKER{
        font-size: 2rem !important;
    }
    #test_planche_footer{
        font-size: 1.5rem !important;
    }
   
    #footer_block{
        display: block; 
        padding: 0px;  
       
       }
       #footer_block img{
           width: 200px;
       }

       

       /*Carousel*/
      #carouselExampleControls ,.popup_img{
        
        height: 40vh;
        width: 35vw;
    }
    .popup_laptop{
        display: none !important;
    }
    #popup_more_info{
        display: block ;
    }
    #article_popup{
        text-align: left !important;
        width: 40vw;
    }
    
 
   
   
     #home_title{
        font-size: 50px; 
     }
     #popup_image{
        height: 40vh !important;
    }

    /*Popup*/
    .popup {
      
        margin-top: 0vh ;
        margin-left: 25vh;
        width: 75vw;
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        overflow: auto;
        padding-bottom: 0;
        height: 80vh;
      
      }

    /*nav*/
    main{
        margin-left: 25vw !important;
    }
    nav{
       
        width: 25vw;
    }
    
    #home_navbar img {
        margin: 0px;
        height: 20vh;
        width: 25vw;
    }
    /*Popup*/
    .popup {
      
        margin-top: 0vh ;
        margin-left: 25vw;
        width: 75vw;
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        overflow: auto;
        padding-bottom: 0;
        height: 80vh;
      
      }
}

/* fix footer text */

@media screen and (max-width: 702px) {


    /*General Fix*/
    #column_brand_info{
        flex-direction: column;
    }
 
    .ms-5{
        margin-left: 0 !important;
    }
    #home_brand_info{
        height: 80vh !important;
        margin-left: 0vw !important;
       
    }
    main{
        margin-left: 20vw !important;
    }

    /*Navbar*/


    nav{
        height: 20vh;
    }
    .nav-link{
        height: 20vh;
        width: 100%;
    }

    
    
    /* #Sealocker_button{
        display: block !important;
    } */
    /* .popup_img{
        height: 30vh;
    } */

/* Popup*/


#popup_board_model{
    font-size: 2rem !important;
  }

  #popup_first_section{
      height: 20vh;
  }
   #carouselExampleControls ,.popup_img{
       margin-left: 5vh;
      height: 40vh;
      width: 35vw;
      object-fit: cover !important ;
  }
 
  #popup_more_info{
      height: 20vh;
  }
    
    /*Footer*/
    
    /* #SEALOCKER {
        font-size: 13px;
    } */
    #SEALOCKER{
        font-size: 1.3rem !important;
    }
    #test_planche_footer{
        font-size: 1rem !important;
    }

   
   
}

/*Ajuste main img*/
@media screen and (max-width: 602px) {

    /*General fix*/
    main{
        flex-direction: column;
        margin-top: 10vh  !important;
         margin-left: 0vw !important;
         height: 70vh !important;
    
    }
    #home_brand_info{
       
       
        margin-left: 0 !important;
    }
    /*Nav*/

    
    #home_navbar a{
        display: none;
    }
    #home_navbar img{
        height: 10vh;
        width: 25vw;
    }
    #home_navbar{
        height: 10vh;
    }
    nav{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10vh;
        border-bottom-left-radius:20px ;
        border-bottom-right-radius:20px ;
    }
    #nav_img1{
        border-bottom-left-radius:20px ;
    }
    #nav_img4{
        border-bottom-right-radius:20px ;
    }
    .nav-link{
        height: 100%;
        width: 25vw;
    }

    /* #home_brand_logo{
        height: 80px;
        width: auto;
    } */

    /*POpup*/

     #carouselExampleControls ,.popup_img{
        width: 40vw;
    }


    .popup {
      
        margin-top: 10vh ;
        margin-left: 0px;
        width: 100vw;
        background-color: #FFFFFF;
        position: relative;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        overflow: auto;
        padding-bottom: 0;
        height: 70vh;
      
      }

    .append_element{
        margin: 10px !important;
    }
    /*Footer*/

    #footerSection3{
        border-top-left-radius: 20px;
    }
    
    #SEALOCKER{
        font-size: 20px;
    }
    #footer_text{
        padding: 0!important;
    }

    #telecharge_app_footer{
        line-height: 4vh !important;
        font-size: 1.5rem !important;
    }
    

  
   
    
    

}

/*PHONE*/
@media screen and (max-width: 480px) {
    
    /*Popup*/
    #home_brand_logo{
        height: 60px;
        width: auto;
    }
    #home_board_section {
        height: 70vh !important;
        width: 100vw !important;
    }
    #home_title{
        font-size: 30px; 
     }
     #popup_city{
         display: none !important;
     }
     #popup_h1{
         display: none !important;
     }
      #carouselExampleControls ,.popup_img{
         
        width: 40vw;
    }
    #popup_rental_price {
        font-size: 2.5rem !important;
    }
    #je_la_test{
        font-size: 2rem !important;
    }
/*Footer*/
    
    #SEALOCKER{
        font-size: 16px !important;
    }
    #test_planche_footer{
        font-size: 10px!important;
    }

    #footer_block img{
        width: 45vw;
        height: auto;
    }
   
}