 @font-face {
    font-family: Spartan;
    src: url("../assets/fonts/Spartan-VariableFont_wght.ttf");  
    
}
  @font-face {
    font-family: Now;
    src: url("../assets/fonts/NowAlt-Regular.otf");
}
  @font-face {
    font-family: Caveat;
    src: url("../assets/fonts/static/Caveat-Regular.ttf");
}
  @font-face {
    font-family: Adigana;
    src: url("../assets/fonts/AdigianaUI.ttf");
}
  @font-face {   
    font-family: Poppins;
    src: url("../assets/fonts/static/Poppins-Regular.ttf");
}
    @font-face { 
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-Regular.ttf") format('ttf');
} 

h1{
    font-family: 'Spartan', sans-serif ;
    color: #02345b
}
h2{
    font-family: 'Now', sans-serif;
}
h3{
    font-family: 'Inter', sans-serif;
    color: #03335b;
}
.Caveat{
    font-family: 'Caveat', sans-serif ;
}
.orange{
    color: #f18f3a;
}

.gris{
    color: #c7d5d6;
}

#brand_logo{
    height: 10vh;
    object-fit: contain;
    
}
  
  .voir_p{
    background-color: #EFEFEF;
    margin-bottom: 0px;
   border:  solid 20px #13616d;
   border-bottom: solid 5px #13616d;
   border-top: solid 5px #13616d ;
  border-radius: 3px;
  background-clip: border-box;
   font-family: Poppins,sans-serif;
   padding-top: 1px;
   padding-bottom: 1px; 
   margin-bottom: 0px;

font-size: 12px;
text-transform: lowercase;

position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
line-height: 1.3;
font-weight: 400;
  }
  
  .voir_div{
    display: flex;
    padding: 2px 15px;
    border-radius: 3px;
    background-color: #13616d;
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
transform-style: preserve-3d;
box-sizing: border-box;
  justify-content: center;
  display: none;
}



  #SEALOCKER {
    font-size: 25px;
    flex-basis: 100%;
  }
 

/* BOARD DETAILS CSS */

.board_details_p{
    color: #13616d;
}
.board_details_h2{
    color: #02345b;
} 

#board_details_btn{
    background-color: #13616d;
    font-size: 2em;
}
#board_details_brand_logo{
    height: 200px;
}

/*READ MORE*/
div.collapsed {
    display: -webkit-inline-box;
    display: inline-block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  
  .readMore {
      margin-top: -3px !important;
      line-height: 1.4 !important;
  }
  
  .isCollapsed {
      width: 85%;
  }
  
  .cb {
      clear: both;
      height: 0;
  }
  
  .pull-right {
    float: right;
  }
  
  .pull-left {
    float: left;
  }

/* New Home page */
#home_navbar{
    height: 80vh;
}
#home_navbar img {
    margin: 0px;
    height: 20vh;
}
.nav-link{
    padding: 0px !important;
    background-color: #13616d;
}
#home_board_section{
 height: 30vh;
}
#home_footer{
    height: 20vh;
    margin-bottom: 0px;
}
#pointeur{
    height: 50px;
}
#footerSection3{
    background-color: #c7d5d6;
    height: 20vh;
}
#app3 img{
    height: 7vh;
    border-radius: 50px;
}
#home_brand_logo{
    height: 80px;
}
#home_title{
    font-size: 65px;
}
.home_card{
    
    margin-bottom: 0px;
}
.home_card img{
    height: 20vh;
    
}
/* .home_card:hover {
    border:  solid #333333;
    overflow: hidden;        
} */
#home_nav_row{
    color :white;
   
   
    background-color: #13616d;
}
#home_navbar{
    background-color: #13616d;
}
#footer_block{
 display: flex;       
}
#test{
    color: #13616d;
    background-color: #13616d;
    margin: 0px;
    height: 1px;
}

.DLspinner { display: none !important; }


/*POPUP*/
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    overflow: auto;
  
  }
  
  .popup {
      
    margin: 1% auto;
    width: 80%;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto;
    padding-bottom: 0;
  
  
  }
  
.btnClose {

    font-size: 16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
  }

/* MEDIA QUERRY */



/* Tablette*/
@media screen and (max-width: 1100px) {
 
    #SEALOCKER{
        width: 60%;
    }
   
    #footer_block{
        display: block;   
       
       }
       #footer_block img{
           width: 200px;
       }
   
     #home_title{
        font-size: 50px; 
     }
}

/* fix footer text */

@media screen and (max-width: 702px) {

    
    #SEALOCKER {
        font-size: 13px;
    }
   
}

/*Ajuste main img*/
@media screen and (max-width: 602px) {

    
    #SEALOCKER{
        font-size: 20px;
    }

    #home_navbar a{
        display: none;
    }
    #footer_block img{
        width: 150px;
    }

}

/*PHONE*/
@media screen and (max-width: 480px) {

   
    #SEALOCKER{
        font-size: 16px !important;
    }
    #home_title{
        font-size: 30px; 
     }
}