 @font-face {
    font-family: Spartan;
    src: url("../assets/fonts/Spartan-VariableFont_wght.ttf");  
    
}
  @font-face {
    font-family: Now;
    src: url("../assets/fonts/NowAlt-Regular.otf");
}
  @font-face {
    font-family: Caveat;
    src: url("../assets/fonts/static/Caveat-Regular.ttf");
}
  @font-face {
    font-family: Adigana;
    src: url("../assets/fonts/AdigianaUI.ttf");
}
  @font-face {   
    font-family: Poppins;
    src: url("../assets/fonts/static/Poppins-Regular.ttf");
}
    @font-face { 
    font-family: Inter;
    src: url("../assets/fonts/static/Inter-Regular.ttf") format('ttf');
} 

h1{
    font-family: 'Spartan', sans-serif ;
    color: #02345b
}
h2{
    font-family: 'Now', sans-serif;
}
h3{
    font-family: 'Inter', sans-serif;
    color: #03335b;
}
.Caveat{
    font-family: 'Caveat', sans-serif ;
}
.Spartan{
    font-family: 'Spantan', sans-serif ;
}
.orange{
    color: #f18f3a;
}
.vert{
    color:#13616d;
}
.rouge{
    color:#712e1b;
}

.gris{
    color: #c7d5d6;
}
main{
    height: 80vh !important;
}



#brand_logo{
    height: 10vh;
    object-fit: contain;
    
}

.text_hide{
    display: none;
}

#home_brand-info{
    height: 80vh;
}

  
  .voir_p{
    background-color: #EFEFEF;
    margin-bottom: 0px;
   border:  solid 20px #13616d;
   border-bottom: solid 5px #13616d;
   border-top: solid 5px #13616d ;
  border-radius: 3px;
  background-clip: border-box;
   font-family: Poppins,sans-serif;
   padding-top: 1px;
   padding-bottom: 1px; 
   margin-bottom: 0px;

font-size: 12px;
text-transform: lowercase;

position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0,0,0,.125);
border-radius: .25rem;
line-height: 1.3;
font-weight: 400;
  }
  
  .voir_div{
    display: flex;
    padding: 2px 15px;
    border-radius: 3px;
    background-color: #13616d;
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
transform-style: preserve-3d;
box-sizing: border-box;
  justify-content: center;
  display: none;
}



  #SEALOCKER {
    font-size: 25px;
    flex-basis: 100%;
  }


  #Sealocker_button{
      margin: auto;
    width: 200px;
    height: 50px;
    box-shadow: inset 0 0 0 0 #02345b;
    transition: ease-out 0.3s;
    outline: none;
    background-color: #13616d;
    color:white;
    text-decoration: none;
    padding:15px;
   display: none !important;
border-radius: 20px ;
    }
    #Sealocker_button:hover{
box-shadow: inset 200px 0 0 0 #02345b;
cursor: pointer;
color:#f18f3a;
}
 

/* BOARD DETAILS CSS */

.board_details_p{
    color: #13616d;
}
.board_details_h2{
    color: #02345b;
} 

#board_details_btn{
    background-color: #13616d;
    font-size: 2em;
}
#board_details_brand_logo{
    height: 200px;
}

/*READ MORE*/
div.collapsed {
    display: -webkit-inline-box;
    display: inline-block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  
  .readMore {
      margin-top: -3px !important;
      line-height: 1.4 !important;
  }
  
  .isCollapsed {
      width: 85%;
  }
  
  .cb {
      clear: both;
      height: 0;
  }
  
  .pull-right {
    float: right;
  }
  
  .pull-left {
    float: left;
  }

/* New Home page */
#home_navbar{
    height: 80vh;
}
#home_navbar img {
    margin: 0px;
    height: 20vh;
}
.nav-link{
    padding: 0px !important;
    background-color: #13616d;
}
#home_board_section{
 height: 30vh;
}
#home_footer{
    height: 20vh;
    margin-bottom: 0px;
}
#pointeur{
    height: 50px;
}
#footerSection3{
    background-color: #c7d5d6;
    height: 20vh;
}
#app3{
    flex-direction: column;
}
#app3 img{
    height: 7vh;
    border-radius: 50px;
}
#home_brand_logo{
    height: 80px;
}
#home_title{
    font-size: 65px;
}
.home_card{
    cursor: pointer;
    margin-bottom: 0px;
}
.home_card img{
    height: 20vh;
    
}
/* .home_card:hover {
    border:  solid #333333;
    overflow: hidden;        
} */
#home_nav_row{
    color :white;
   
   
    background-color: #13616d;
}
#home_navbar{
    cursor: pointer;
    background-color: #13616d;
}
#footer_block{
 display: flex;       
}
#test{
    color: #13616d;
    background-color: #13616d;
    margin: 0px;
    height: 1px;
}








/*POPUP*/
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    overflow: auto;
  
  }
  
  .popup {
      
    margin: 1% auto;
    width: 80%;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: auto;
    padding-bottom: 0;
    height: 70vh;
  
  }

  



  /*POPUP SPINNER*/
  #overlaySpinner{
      height: 100vh;
      width: 100%;
      background: linear-gradient(70deg, #f18f3a, #13616d);
      animation: gradient 5s ease infinite;
  }

  .spinner-border{
      height: 5rem;
      width: 5rem;
      color: #EFEFEF;
  }


  /**/
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    
    
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 70px;
    color: #f18f3a;
  }
  #home_brand_logo{
      height: 150px;
      width: auto;
  }
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 70px;
    color: #f18f3a;
  }


  .popup_img , .popup_img2   {
    border-radius: 3%;
  }
  #carouselExampleControls{
    height: 60vh;
    width: 40vw;
      margin-left: 15vh;
  }
  .carousel-inner > .item > img {
    width:640px;
    height:360px;
  }.carousel {
      object-fit: contain;
    width:40vw;
    height: 100%;
    background-size: cover;
    
  }
  
.btnClose {

    font-size: 16pt;
    cursor: pointer;
    color: rgb(26, 26, 26);
  }
  #popup_h1{
      background-color: #13616d;
  }
  .popup_img{
      height: 60vh;
      width: 20vw;
      background-size: cover;
  }
  .fs-1{
      font-size: 4rem !important;
  }
  .fs-2{
    font-size: 3rem !important;
}
#home_brand_info{
    height: 80vh;
}
/* MEDIA QUERRY */



/* Tablette*/
@media screen and (max-width: 1100px) {

    #home_brand_logo{
        height: 100px;
        width: auto;
    }

    #app3{
        flex-direction: row;
        margin-right: 0px !important;
    }

    #carouselExampleControls{
        margin-top: 10vh!important;
        margin-left: 5vh;
        height: 40vh;
        width: 30vw;

    }
    .popup_img{
        height: 40vh;
        width: 30vw;
    }
 
    #telecharge_app_footer{
        font-size: 2.5rem !important;
    }
    #SEALOCKER{
        font-size: 2rem !important;
    }
    #test_planche_footer{
        font-size: 1.5rem !important;
    }
   
    #footer_block{
        display: block;   
       
       }
       #footer_block img{
           width: 200px;
       }
   
     #home_title{
        font-size: 50px; 
     }
     #popup_image{
        height: 40vh !important;
    }
}

/* fix footer text */

@media screen and (max-width: 702px) {

    #column_brand_info{
        flex-direction: column;
    }
    #carouselExampleControls{
        margin-left: 2vh;
        height: 30vh;
        width: 25vh;

    }
    .ms-5{
        margin-left: 0 !important;
    }
    #home_brand_info{
        height: 80vh !important;
        margin-left: 0 !important;
    }
    nav{
        position: static !important;
        flex-direction: row !important;
    }
    #Sealocker_button{
        display: block !important;
    }
    .popup_img{
        height: 30vh;
    }
    .nav-link{
        height: 26vh;
        width: 100%;
    }
    
    #SEALOCKER {
        font-size: 13px;
    }
    #SEALOCKER{
        font-size: 1.3rem !important;
    }
    #test_planche_footer{
        font-size: 1rem !important;
    }

    #popup_board_model{
      font-size: 3rem !important;
    }
   
}

/*Ajuste main img*/
@media screen and (max-width: 602px) {

    #home_brand_logo{
        height: 80px;
        width: auto;
    }

    .append_element{
        margin: 10px !important;
    }
    
    #SEALOCKER{
        font-size: 20px;
    }
    

    #home_navbar a{
        display: none;
    }
    #footer_block img{
        width: 150px;
    }
    #carouselExampleControls{
        margin-left: 0vh;
        height: 30vh;
        width: 15vh;

    }

}

/*PHONE*/
@media screen and (max-width: 480px) {

    #home_brand_logo{
        height: 60px;
        width: auto;
    }

    #SEALOCKER{
        font-size: 16px !important;
    }
    #home_title{
        font-size: 30px; 
     }
}